<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-venta-heading" data-cy="VentaCreateUpdateHeading" jhiTranslate="concesionario3App.venta.home.createOrEditLabel">
        Create or edit a Venta
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="concesionario3App.venta.fecha" for="field_fecha">Fecha</label>
          <div class="input-group">
            <input
              id="field_fecha"
              data-cy="fecha"
              type="text"
              class="form-control"
              name="fecha"
              ngbDatepicker
              #fechaDp="ngbDatepicker"
              formControlName="fecha"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="fechaDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
          <div *ngIf="editForm.get('fecha')!.invalid && (editForm.get('fecha')!.dirty || editForm.get('fecha')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('fecha')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="concesionario3App.venta.numFactura" for="field_numFactura">Num Factura</label>
          <input
            type="text"
            class="form-control"
            name="numFactura"
            id="field_numFactura"
            data-cy="numFactura"
            formControlName="numFactura"
          />
          <div *ngIf="editForm.get('numFactura')!.invalid && (editForm.get('numFactura')!.dirty || editForm.get('numFactura')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('numFactura')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="concesionario3App.venta.precioTotal" for="field_precioTotal">Precio Total</label>
          <input
            type="number"
            class="form-control"
            name="precioTotal"
            id="field_precioTotal"
            data-cy="precioTotal"
            formControlName="precioTotal"
          />
          <div *ngIf="editForm.get('precioTotal')!.invalid && (editForm.get('precioTotal')!.dirty || editForm.get('precioTotal')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('precioTotal')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('precioTotal')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_coche">Coche</label>
          <select class="form-control" id="field_coche" data-cy="coche" name="coche" formControlName="coche">
            <option *ngIf="!editForm.get('coche')!.value" [ngValue]="null"></option>
            <option
              [ngValue]="cocheOption.id === editForm.get('coche')!.value?.id ? editForm.get('coche')!.value : cocheOption"
              *ngFor="let cocheOption of cochesSharedCollection"
            >
              {{ cocheOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['coche'])!.invalid && (editForm.get(['coche'])!.dirty || editForm.get(['vendedor'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['coche'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="concesionario3App.venta.compradorId" for="field_compradorId">Comprador Id</label>
          <!--   <input
            type="text"
            class="form-control"
            name="compradorId"
            id="field_compradorId"
            data-cy="compradorId"
            formControlName="compradorId"
          /> -->

          <select class="form-control" id="field_compradorId" data-cy="compradorId" name="compradorId" formControlName="compradorId">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('compradorId')!.value?.id ? editForm.get('compradorId')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.login }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
